// ------------------------------
// header
// ------------------------------

.c-header {
    display: flex;
    align-items: center;
    min-height: 74px;
    padding: 14px 24px;
    background: $color-white;

    &__logo {
        width: 63px;
        a {
            display: block;
        }
    }
}