// ------------------------------
// text
// ------------------------------

.c-text--52 {
    font-size: 5.2rem;
}

.c-text--42 {
    font-size: 4.2rem;
}

.c-text--28 {
    font-size: 2.8rem;
}

.c-text--22 {
    font-size: 2.2rem;
}

.c-text--17 {
    font-size: 1.7rem;
}

.c-text--14 {
    font-size: 1.4rem;
}

@mixin line($border-color){
    position: relative;
    padding-left: 25px;
    @extend .c-text--28;
    line-height: 1;
    &::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 5px;
        height: 100%;
        background: $border-color;
    }
}

.c-text--lineBlue {
    @include line($color-blue);
}

.c-text--lineOrange {
    @include line($color-orange01);
}

.c-text--center {
    text-align: center;
}

.c-text--right {
    text-align: right;
}

.c-text--fw300 {
    font-weight: 300;
}

.c-text--fw400 {
    font-weight: 400;
}

.c-text--fw700 {
    font-weight: 700;
}