// ------------------------------
// page-home
// ------------------------------

.page-home{

    // ---------- visual ----------
    .visual{
        background: url('/assets/images/home/kv.jpg') no-repeat center / cover;

        &__content {
            display: flex;
            align-items: center;
            min-height: 494px;
        }
    }

    // ---------- about ----------
    .about {
        padding: 70px 0 120px;

        &__ttl {
           margin-bottom: 70px; 
        }

        &__content-ttl {
            margin-bottom: 40px;
        }

        &__group {
            & + .about__group {
                margin-top: 40px;
            }
        }
    }

}
