mixin card-landscape(param)
    - if (param.direction === 'right')
    .c-card-landscape.c-card-landscape--re
    - else
    .c-card-landscape.c-card-landscape
        p.c-card-landscape__ttl #{param.ttl}
        .c-card-landscape__body
            .c-card-landscape__thumb: img(src=param.thumb alt=param.ttl)
            .c-card-landscape__box
                p.c-card-landscape__txt #{param.txt}